<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <nav class="a">
            BIZIKNIT.com
        </nav>
        <div class="main1">
            <div class="buttons">
                <button class="btn1">LOGO</button>
                <button class="contactus">CONTACT US</button>
            </div>
            <div class="left-sec">
                <div class="section1">
                    <div class="first">
                        LOrum Epson <br> Per Day Gross Sale.
                        <hr>
                        6000 X 30 Days
                        <hr>
                        1800000/- Per Month Gross Sale. <br>
                        Total 125000/- per month Expenditures.
                        <p class="profit">
                            Gross Sale - expenditure =<strong>000000/-</strong>  [profit]
                        </p>
                    </div>
                    

                    <div class="last">
                        Note: all the figures showed above is only for hot coffee sales.<br>
                        apart from it there are multiple products to warrant additional sales to generate profits.<br>
                        all are rough figure and not a guaranteed one. at will depending upon location and volume etc.
                    </div>



                </div>
                <div class="section2">
                    PROFITS
                </div>


            </div>

            <div class="down">
                <div class="down-content">
                    <h1>3500-5000 Sq.ft</h1>
                    <p>Area Req</p> 
                </div>
                <div class="vr"></div>

                <div class="down-content">
                    <h1>3500-5000 Sq.ft</h1>
                    <p>Area Req</p> 
                </div>
                <div class="cr"></div>
            
                <div class="down-content">
                    <h1>3500-5000 Sq.ft</h1>
                    <p>Area Req</p> 
                </div>
                <div class="vr"></div>
        
                <div class="down-content">
                    <h1>3500-5000 Sq.ft</h1>
                    <p>Area Req</p> 
                </div>


            </div>

        </div>
        <div class="main2">
            <div class="card1">
                <h1>JUST PAWS PRODUCTS AND SERVICES 
                    <span class="text-line"></span>
                </h1>
                
                <ul>
                    <li><img src="../static/images/hand.png" alt="icon">We offer Professional pet grooming services by our skilled groomers trained by experts in the industry. </li>
                    <li><img src="../static/images/hand.png" alt="icon">We offer pets for adoption, where you can find a wide range of breeds for adoption.</li>
                    <li><img src="../static/images/hand.png" alt="icon">We keep pets safe and feel at home when you are away for a while. Our pet boarding services are convenient for all kinds of Pet dogs. </li>
                    <li><img src="../static/images/hand.png" alt="icon">We take care of pets by following all the hygienic rules and regulations as we use only one towel for One bath and Mineral Water to clean pets. </li>
                    <li><img src="../static/images/hand.png" alt="icon">Our Door Step Services makes pet owners feel convenient in dealing with their pets while grooming and other services.</li>
                    <li><img src="../static/images/hand.png" alt="icon">We do offer wide range of Shampoos and other related products that are essential for your pets.</li>

                </ul>
            </div>

            <div class="card2">
                <div class="card21">
                    <h1>CFC franchise cost & investment </h1>
                    <h3>Commenced Operations</h3>
                    <div class="smallbox">
                        <div class="insideofsmallbox">
                            <p>Operations Commenced On</p>
                            <p>2000</p>
                        </div>
                        <div class="insideofsmallbox">
                            <p>Franchise commenced on</p>
                            <p>2000</p>
                        </div>
                    </div>

                    <h3>franchise details </h3>
                    <div class="smallbox">
                        <p class="unit">Units</p>
                        <div class="insideofsmallbox">
                            <p>Investment</p>
                            <p>INR 400000</p>
                        </div>
                        <div class="insideofsmallbox">
                            <p>Franchise/Brand fee</p>
                            <p>INR 400000</p>
                        </div>
                    </div>

                    <div class="card21-last">
                        <h3>CFC Provides</h3>
                        <p>with one Time Franchise Fee, You Get:</p>
                        <ul>
                            <li><img src="/static/images/Vector (1).png" alt="">Marketing</li>
                            <li><img src="/static/images/Vector (1).png" alt="">Manage & Monitor Sales</li>
                            <li><img src="/static/images/Vector (1).png" alt="">Pet Groomer</li>
                        </ul>
                    </div>



                

                </div>
                <div class="card22">
                    <h1>APPLY</h1>
                    <input type="text" placeholder="Enter Name">
                    <input type="text" placeholder="Enter Email">
                    <input type="text" placeholder="Enter Mobile No.">
                    <input type="text" placeholder="Select State">
                    <input type="text" placeholder="Select City">
                    <input type="text" placeholder="Pincode">
                    <input type="text" placeholder="Address">
                    <button>SUBMIT</button>
                </div>
            </div>
            <div class="card3">


                <h1>Steps</h1>
                <div class="card31">

                    <div class="insideofcard3">
                        Total Investment <br> Details:
                    </div>
                    <img src="/static/images/Lightning_Arrow_24.png" alt="">
                    <div class="insideofcard3">
                        Total Investment <br> Details:
                    </div>
                    <img src="/static/images/Lightning_Arrow_24.png" alt="">

                    <div class="insideofcard3">
                        Total Investment <br> Details:
                    </div>
                    <img src="/static/images/Lightning_Arrow_24.png" alt="">


                    <div class="insideofcard3">
                        Total Investment <br> Details:
                    </div>
                    <img src="/static/images/Lightning_Arrow_24.png" alt="">


                    <div class="insideofcard3">
                        Total Investment <br> Details:
                    </div>
                </div>

            </div>

            <div class="card4">
                <div class="card41">
                    <img src="/static/images/Illustration.png" alt="">
                </div>
                <div class="card42">
                    <h1>Store Guidelines</h1>
                    <ul>
                        <li><img src="/static/images/hand.png" alt="">70-100sq ft required in a prime location</li>
                        <li><img src="/static/images/hand.png" alt="">visibility of the store must be ensured 3 phase electricity
                            and water facility of in and out is essential</li>
                        <li><img src="/static/images/hand.png" alt="">Kiosk placed on an open area will be more attractive and 
                            generates more income than shop</li>
                        <li><img src="/static/images/hand.png" alt="">Store will be finalised by our team</li>
                        <li><img src="/static/images/hand.png" alt="">Preferable locations: Highways, hospitals area, attachment
                            with tiffins centre’s and restaurants</li>

                    </ul>
                </div>
            </div>
            <div class="card5">
                <div class="card51">
                    <h1>Man Power</h1>
                    <ul>
                        <li><img src="/static/images/hand.png" alt="">MInimum two persons required to operate the store </li>
                        <li><img src="/static/images/hand.png" alt="">No Professional Master</li>
                        <li><img src="/static/images/hand.png" alt="">It’s completely formula base cooking, easy to opearte  </li>
                    </ul>
                </div>
                <div class="card52">
                    <img src="/static/images/4cardimg.png" alt="">
                </div>
            </div>

            <div class="card7">
 
                 <div class="card71">
                    <img src="/static/images/card5.png" alt="">
                </div>
                <div class="card72">
                    <h1>Establishment</h1>
                    <ul>
                        <li><img src="/static/images/hand.png" alt="">Shop or cafe model interior min: 1.5 lakhs [approx] </li>
                        <li><img src="/static/images/hand.png" alt="">kiosk model 70sft: 3.5 lakhs [approx]</li>
                        <li><img src="/static/images/hand.png" alt="">Both cafe or kisok model will be done only by company’s 
                            establishment team at separate cost</li>
                    </ul>
                </div>
            </div>
            <div class="card6">
                <h1>Gallery</h1>
                <div class="photos">
                    <img src="/static/images/photo1.png" alt="">
                    <img src="/static/images/photo1.png" alt="">
                    <img src="/static/images/photo1.png" alt="">
                    <img src="/static/images/photo1.png" alt="">

                </div>

            </div>





        
        </div>


    </div>
</body>
</html>